@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: 'Rubik', sans-serif;
  font-weight: 100;
}
button{
  border: none;
  background-color: transparent;
  outline: none;
  color: #7478b5;
  font-weight: 500;
  margin: 0 0 0 10px;
}
button:hover{
  color: white;
}
ul li{
  list-style-type: none;
  margin: 20px;
  font-size: 20px;
  /* font-weight: 600; */
  
}
body{
  background-color: #0d1323;
}
.container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 525px;
  width: 1120px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
}
.user{
  grid-row-start: 1;
  grid-row-end: 3;
}
.child{
  background-color: #1d204b;
  border-radius: 15px;
}
.profile-cont{
  height: 360px;
  width: 100%;
  background-color: #5746ea;
  border-radius: 15px;
  padding: 30px;
}
.profile-cont img{
  height: 75px;
  width: auto;
  border: 2px solid white;
  border-radius: 50%;
  display: block;
  margin: 0 0 30px 0;
}
.panel{
  overflow: hidden;
}
.panel img{
  float: right;
  margin: -11px 20px 0 0;
}
.text-cont{
  height: 205px;
  background-color: #1d204b;
  position: relative;
  margin-top: 48px;
  width: 100%;
  border-radius: 15px;
  padding: 30px;
}
.text-cont:hover{
  background-color: #34397b;
}
.text-cont h1{
  margin: 50px 0 5px 0;
  font-size: 50px;
  font-weight: 100;
}
.text-cont span{
  font-size: 13px;
  color: #959adc;
  font-weight: 400;
}